<%- include ../partials/header %>
  <div class="jumbotron">
    <h1 class="display-4">Admin Page</h1>
    <p class="lead">Add new product here</p>
    <a class="btn btn-primary btn-md" href="/admin-portal/new" role="button">
      Add new Product</a>
    <!--<form action="videos" class="form-group" method="GET">
    <input name="search" type="text" placeholder="Enter Title.." />
    <label for="videos">Choose a genre:</label>
    <select
      name="genre"
      class="form-group"
      id="videos"
      onchange="searchGenre()"
    >
      <option value="all">All</option>
      <option value="fantasy">Fantasy</option>
      <option value="horror">Horror</option>
      <option value="animation">Animation</option>
      <option value="drama">Drama</option>
      <option value="scifi">SciFi</option>
    </select>

    <button type="submit" class="btn btn-warning">Search</button>
  </form>-->
  </div>

  <div class="container">
    <div class="row">
      <% products.forEach(function(product){ %>
        <div class="sm-col-3">
          <img src="<%= product.imagePath %>" style="width: 200px; height: 200px;" class="img-thumbnail" />
          <div class="caption">
            <a href="/products/<%=product.category.slug%>/<%=product._id%>">
              <%= product.title %>
            </a>
          </div>
        </div>

        <% }); %>
    </div>
  </div>

  <%- include ../partials/footer %>